footer {
    overflow-x: hidden;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 30px;
    h4{
        border-bottom: 2px solid white;
    }
    .suscribe {
        color: #FE4240;
        padding-bottom: 1%;
    }
    .inputsuscribe {
        padding-bottom: 1%;
    }
    .tableau {
        padding-bottom: 3%;
    }
    .cine1 {
        color: white;
    }
    .cine2 {
        color: #FE4240;
    }
    h4 {
        font-family: "arial";
        color: white;
    }
    
    .btag {
        background-color: dimgray;
        color: white;
        line-height: 30px;
        padding: 3px;
        border-radius: 10%;
        &:hover{
            background-color: $rose;
            color: white;
            text-decoration: none;
        }
    }
    .releases {
        color: dimgray;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
    .movies {
        color: dimgray;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }

    .img1 {
        width: 80px;
        height: 65px;
        object-fit: cover;
    }

    .titlemov {
        color: grey;
        text-align: left;
    }

    .img2 {
        width: 75px;
        height: 110px;
    }

    hr{
        border: 1px solid #4C5155;
        border-right: none;
        border-left: none;
    }
    .hrespace {
        padding: 2%;
    }
    .connectus {
        color: white;
    }

    .spanm {
        margin: 5%;
    }
    i {
        color: white;
    }

    .border{
        padding: 3px;
        margin: 5px;
        width: 35px;
        .fab{
            position: relative;
            left: 5px;
        }
        &:hover{
            background-color: $rose;
        }
    }
}   

.bou {
    img{
        height: 50px;
        width: 50px; 
    }
}
// Bouton retour en haut

a#cRetour{
    //border-radius:3px;
    //padding:10px;
    //font-size:15px;
    //text-align:center;
    //color:#fff;
    //background:rgba(0, 0, 0, 0.25);
    position:fixed;
    right:120px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
  }
  //a#cRetour:before{ content: "\25b2"; }
  a#cRetour:hover{
   // background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
  }
  a#cRetour.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
  }
  
  a#cRetour.cVisible{
    bottom:20px;
    opacity:1;
  }