$search-radius:25px;
$header-nav-padding-top: 13px;
$header-nav-padding-left: 6px;
$carousel-position:38%;

header{
    .title{
        font-size:55px;
        font-weight: 900;
        transform: scaleY(1.1)
    }
    .nav-block{
        a{
            display:block;
        }
    }
    .carousel-caption{
        top:$carousel-position;
        line-height: 40px;
        p{
            font-weight: 300;
        }
        h2{
            letter-spacing: 2px;
            font-size:58px;
            font-weight: 700;
            transform:scaleX(1.1)
        }
    }
    .carousel-indicators{
        top:$carousel-position + 42%;
        li{
            transform: scale(1.1,1.4);
            margin-right:20px;
            opacity: 0.8;
        }
        .active{
            background-color:red;
        }
    }
    .carousel-item{
        img{
            height: 700px;
        }
    }
    .opa{
        filter: brightness(0.2);
    }
    .i-search{
        background-color:#0007;
        border:none;
        color:white;
        &::placeholder{
            color:white;
        }
    }
    .nav-contact{
        margin-left:8vw !important;
    }
    .navbar {
        .navbar-decal{
            margin-bottom:40px;
        }
        .round-left{
            border-radius: $search-radius 0px 0px $search-radius;
        }
        .round-right{
            border-radius: 0px $search-radius $search-radius 0px;
        }
        .space-left{
            padding-left:35px;
        }
        background-color: transparent;
        border-color: #E7E7E7;
        position: absolute;
        .navbar-toggler{
            border-color: white !important;
        }
        .navbar-light .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
    .nav-item{
        *{
            font-size:15px !important;  
        }     
    }
    .d-block{
        min-height: 500px;
        object-fit: cover;
        background-size: cover;
    }
    .bg-light{
        background-color: none !important;
    }
    .btn{
        border-radius: 0px;
    }
    .bout-search{
        border-radius: 10px;
        filter: opacity(0.6);
    }
    .btn-red{
        background-color:$rose;
        color:white;
    }
    .navbar-light .navbar-nav .nav-link{
        color: white;
    }
    .navbar-nav{
        padding-left:4vw;
    }
    .btn-black{
        background-color:black;
    }

    .connect{
        bottom:0%;
        color:white;
        background-color:$rose;
        width: 100%;
        padding:10px;
        p{
            margin:auto 30px;
        }
        .btn{
            z-index: 15;
            margin-right:10px;
        }
        .fa-phone-alt{
            margin-right:10px;
        }
    }
    .stick-letter{
        letter-spacing: 1px;
    }
    nav{
        .adjust-padding{
            padding-top:$header-nav-padding-top;
        }
        .dropdown{
            button{
                background-color:#ffffff29;
                padding:$header-nav-padding-top $header-nav-padding-left * 1.5 $header-nav-padding-top $header-nav-padding-left;
                text-transform: uppercase;
                color:white;
                margin-left:5px;
                i{
                    margin-left:8px;
                    display: inline;
                }
            }
            .dropdown-menu{
                border-radius:0;
                padding:0;
                margin:0;
                .dropdown-item{
                    padding:0px 10px;
                    a{
                        color:black;
                    }
                }
            }
        }
        
        width:100%;
        top:0%;
        padding:25px 3vw !important;
        z-index: 2;
        
        color:white;
    }
    
}

.cookie-request{
    //Fait en sorte que l'élément sois fixe par rapport a la largeur du viewport
    position: fixed;
    //Fait en sorte que a l'antrée de la page, les cookies sois caché
    bottom:-100%;
    //Fait en sorte a ce que l'élément sois tout a gauche
    right:0%;

    //Change le fond en blanc rgb(+-234,+-234,+-234)
    background-color: #f4f4f4;

    /*
    Fait en sorte a ce que le cookie sois tout au dessus 
    de tout les autre élément visuellement et PHYSIQUEMENT
    Le z-index va de : -infini a infini
    Mais techniquement pour la limite d'un pc actuelle :
    -9 223 372 036 854 775 807 a 9 223 372 036 854 775 807
    Sois -(pow(2,63)-1) a (pow(2,63)-1)
    Sois la capacité maximale d'un nombre négatif et positif
    Sois un nombre appelé réel
    Ce qui fait la capacité maximale d'un ordinateur de 64 bits
    Pour plus d'information : 
    Rubrique : Représentation des entiers signés
    https://fr.wikibooks.org/wiki/Programmation_C/Types_de_base
    */
    z-index: 40;

    //Fait en sorte de laisser de l'espacement entre le contenu et les bords
    padding:20px;

    //Règle le contenu pour qu'il fasse 35% de la taile de la fenêtre
    width:35%;

    //Fait un border-radius sur le bord haut gauche de la fenêtre de cookie
    border-radius: 10px 0px 0px 0px;
    
    //Fait une bordure en haut de la fenêtre de cookie
    border-top:5px solid #c1c1c1;
    //Fait une bordure au bord gauche de la fenêtre
    border-left:5px solid #c1c1c1;
}
.cookie-anim{
    /*
    J'ai essayé avec des transition mais quand on rafraichissait 
    beaucoups ça fesait bugué la page
    */

    //Appelle l'animation anim-up qui consiste a affiché le cookie
    animation: anim-up 1.2s ease-out;
    //On lui applique un bottom 0% pour qu'il reste bloqué
    bottom:0%;
}
.cookie-anim-down{
    /*
    Appelle l'animation anim-down qui consiste a caché le cookie. 
    On retire l'anim anim-up a l'appelle
    */
    animation: anim-down 1.2s ease-out;
}
@keyframes anim-up{
    0%{
        //On fait commencé a -100% de sa taille
        bottom:-100%;
    }
    100%{
        //Et on l'affiche a l'écran
        bottom:0%;
    }
}
@keyframes anim-down{
    //Le contraire de anim-up
    0%{
        bottom:0%;
    }
    100%{
        bottom:-100%;
    }
}
//On retire le surlignement de la croix du cookie
.no-underline{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
