$h2big: 50px;
$less: 25px;
$h2medium: 45px;
$h2small:35px;

@media screen and(max-width:1300px){
    header{
        .carousel-caption{
            h2{
                font-size: $h2big !important;
            }
        }
    }
}
@media screen and (max-width:1200px) {
    header{
        .nav-contact{
            margin-left:1vw !important;
        }
        h2{
            font-size: $h2medium !important;
        }
    }
}
@media screen and (max-width:1110px){
    header{
        .carousel-caption{
            h2{
                font-size: $h2small !important;
            }
            p{
                font-size: $h2small - $less;
            }
        }
    }
}
@media screen and (max-width:730px){
    .cookie-request{
        width:100%;
        margin-top:50px;
        border:none;
    }
}
@media screen and (max-width:991px) {
    header{
        .title{
            font-size:35px;
        }
        .navbar{
            z-index:200;
            background-color:#272324;
            margin:0px !important;
            padding:10px !important;
        }
        .navbar-nav{
            padding:0px;
        }
        .nav-item{
            a{
                margin-right:0px !important;
            }
            button{
                width:100%;
                margin-left:0px !important;
            }
        }
        .navbar-collapse{
            margin:0px !important;
        }
        .search-bar{
            padding-top:10px;
            margin-right:0px;
        }
        .contact-li{
            background-color:black;
            text-align: center;
        }
        .carousel-caption{
            h2{
                font-size: 30px !important;
            }
        }
    }
}